@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0D0E16;
  color-scheme: dark;
  font-family: 'Roboto', sans-serif;
}
